*{
    padding:0px;
    margin: 0px;
}
body{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(150, 173, 173);
}
input, button{
    width: 300px;
    margin: 10px;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid grey;
    transition: 0.6s;
}
.login-container{
    width: 500px;
    text-align: center;
    height: 520px;
    margin-left: 35%;
    margin-top: 5%;
    padding-top: 2%;
    box-shadow: 4px 0 8px 0 gray;
    border-radius: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s ease-in-out;
}
.login-container:hover{
    box-shadow: 8px 16px 0 gray
}
button{
    background-color: lightslategray;
    box-shadow: 2px 0 4px ;
    border: none;
}
img{
    margin: 10px;
}
a{
    text-decoration: none;
}
input:hover{
   margin: 15px;
   border: blue;

}